boto3
awscli
python-dotenv
langchain
faiss-cpu
PyPDF2
langchain-community
langchain-google-genai
tiktoken
chromadb
langgraph
langchain-text-splitters
beautifulsoup4
streamlit
langchain-huggingface
arxiv
wikipedia
tavily-python
langchain-aws
pypdf